.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
 
/*buttons*/
.button-62 {
  background: linear-gradient(to bottom right, #4155eb, #061d70);
  border: 0;
  align-items: center;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

/*body{
  background-color: #5466f1;
}*/

.questions{
  align-items: center;
}

body {
  /*background-image: url("../Images/img1.png");*/
  background-image: url("../Images/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


